<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<link rel="stylesheet" href="/assets/css/styles.css">

	<title>{ifset title}{include title|stripHtml} | {/ifset}Superapp</title>
</head>

<body>

	{include content}

	{block scripts}
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="http://cdn.hucr.cz/nette.ajax.js/nette.ajax.js"></script>

		<script src="/assets/js/main.js"></script>
	{/block}
</body>
</html>
