{block content}
<h1 n:block="title"> Channel filter </h1>

{snippet flashes}
  <div n:foreach="$flashes as $flash" class="flash">
    {$flash->message}
  </div>
{/snippet}

<div style="float:left">
    <h2>Filter </h2>
    {control filterForm}
</div>
<div style="float:left">
    <h2> Add </h2>
    {control addForm}
</div>
<br />

<div id="content">
{snippet content}

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Channel Group</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr n:foreach="$channels as $channel">
                <td>{$channel['name']}</td>
                <td>{$channel['description']}</td>
                <td>{$channel['gname']}</td>
                <td><a n:href="delete! $channel['id']" class="ajax">Delet</a><td>
            </tr>
        </tbody>
    </table>
{/snippet}
</div>